{% extends 'main/layout.html'%}

{% block title %} Об улучшении успеваемости {% endblock %}


{% block content %}
    <h1> Как мы готовим </h1>
    <a href="{% url 'passport' %}?category=3">5</a><br>
    <a href="{% url 'passport' %}?category=3">6</a><br>
    <a href="{% url 'passport' %}?category=3">7</a><br>
    <a href="{% url 'passport' %}?category=3">8</a><br>
    <a href="{% url 'passport' %}?category=3">9</a><br>
    <a href="{% url 'passport' %}?category=3">10</a><br>
    <a href="{% url 'passport' %}?category=3">11</a><br>

{% endblock %}